<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
    <div class="card-body">

  <form>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6" >
          <input class="form-control" [(ngModel)]="cliente.nombre" type="text" name="nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6" >
          <input class="form-control"[(ngModel)]="cliente.apellido" type="text" name="apellido">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6" >
          <input class="form-control" [(ngModel)]="cliente.email" type="text" name="email">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" name="button" role="button" (click)='create()' *ngIf="cliente.id==null">Crear</button>
          <button class="btn btn-primary" name="button" role="button" (click)='update()' *ngIf="cliente.id!=null">Editar</button>
<ng-template #elseBlock>

  </ng-template>
        </div>

      </div>
  </form>
    </div>

</div>
